# In general, we try to run on:
# - The oldest supported python
# - The latest stable python that is the common default on most systems and conda
# - (During transitions) The newly released bleeding edge python

name:  Run Test Suite

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Tests on ${{ matrix.arch }} with Conda Python-${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python: "3.10"
            arch: Linux-x86_64
            ompdisable: 0
          - os: ubuntu-latest
            python: "3.12"
            arch: Linux-x86_64
            ompdisable: 0
          - os: ubuntu-latest
            python: "3.14"
            arch: Linux-x86_64
            ompdisable: 0
          - os: macos-15-intel
            python: "3.10"
            arch: MacOSX-x86_64
            ompdisable: 1
          - os: macos-15-intel
            python: "3.13"
            arch: MacOSX-x86_64
            ompdisable: 1
          - os: macos-15
            python: "3.10"
            arch: MacOSX-arm64
            ompdisable: 1
          - os: macos-15
            python: "3.13"
            arch: MacOSX-arm64
            ompdisable: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Conda Base
        run: |
          sudo rm -rf /usr/share/miniconda \
            && sudo rm -rf /usr/local/miniconda \
            && curl -SL -o miniforge.sh https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-${{ matrix.arch }}.sh \
            && bash miniforge.sh -b -f -p ~/conda \
            && source ~/conda/etc/profile.d/conda.sh \
            && conda activate base \
            && conda update -n base --yes conda

      - name: Check Conda Config
        run: |
          source ~/conda/etc/profile.d/conda.sh \
            && conda activate base \
            && conda info \
            && conda list \
            && conda config --show-sources \
            && conda config --show

      - name: Install Dependencies
        run: |
          source ~/conda/etc/profile.d/conda.sh \
            && conda create --yes -n test python==${{ matrix.python }} \
            && conda activate test \
            && conda install --yes --file packaging/conda_build_requirements.txt
          if test ${{ matrix.python }} = "3.10"; then conda install libxcrypt; fi

      - name: Install
        run: |
          source ~/conda/etc/profile.d/conda.sh \
            && conda activate test \
            && pip install .

      - name: Serial Tests (MPI Disabled)
        run: |
          source ~/conda/etc/profile.d/conda.sh \
            && conda activate test \
            && export OMP_NUM_THREADS=2 \
            && export MPI_DISABLE=1 \
            && mkdir -p test \
            && pushd test >/dev/null 2>&1 \
            && python3 -c 'import flacarray.tests; flacarray.tests.run()' \
            && popd >/dev/null 2>&1

      - name: Serial Tests
        run: |
          source ~/conda/etc/profile.d/conda.sh \
            && conda activate test \
            && export OMP_NUM_THREADS=2 \
            && mkdir -p test \
            && pushd test >/dev/null 2>&1 \
            && python3 -c 'import flacarray.tests; flacarray.tests.run()' \
            && popd >/dev/null 2>&1

      - name: MPI Tests
        run: |
          source ~/conda/etc/profile.d/conda.sh \
            && conda activate test \
            && export OMP_NUM_THREADS=1 \
            && mkdir -p test \
            && pushd test >/dev/null 2>&1 \
            && mpirun -np 2 python -m mpi4py -c 'import flacarray.tests; flacarray.tests.run()' \
            && popd >/dev/null 2>&1
